<div class="container">
  <h1>{{ GOD }}</h1>
  <h2>User: {{fName}}</h2>
  <p>Year: {{ currentYear }}</p>

  <h2>Fund Accounts Summary</h2>

  <!-- The *ngFor directive loops through every item in your list -->
  <div *ngFor="let fund of fundedProjects" class="fund-card">

    <!-- Display all the fund's details using the temporary variable 'fund' -->
    <h3>{{ fund.fundName }}</h3>
    <p>Code: {{ fund.fundCode }}</p>
    <p>Fund Manager: <b>{{ fund.fundManager}}</b></p>
    <p>Portfolio Manager: <b>{{ fund.portfolioManager}}</b></p>
    <p>Price: ${{ fund.startPrice }}</p>

    <!-- The *ngIf directive checks if the current fund's price > 2000 -->
    <div *ngIf="fund.startPrice > 2000" class="high-investment-badge">
      HIGH INVESTMENT ACCOUNT
    </div>

  </div>
</div>
<fundProject-list></fundProject-list>
